////
/// Mixins.
/// @link http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
/// @group mixins
////

/// Absolute gradient
=absolute-gradient($direction: to top, $color-from: transparent, $color-to: transparent, $pseudo: after)
  position: relative

  &:#{$pseudo}
    background: linear-gradient(#{$direction}, #{$color-from}, #{$color-to})
    content: ''
    display: block
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

/// Absolute link
=absolute-link
  background: none
  display: block
  font-size: 0
  height: 100%
  left: 0
  margin: 0
  padding: 0
  position: absolute
  top: 0
  width: 100%

  &:hover
    background: none

/// Border.
=border($width: 1px, $style: solid, $color: $border, $position: style)
  border-#{$position}: $style
  border-color: $color
  border-width: $width

/// Buttons.

=button($button-style)
  border: 1px solid transparent
  border-radius: 0
  font-size: calc-rem(14px)
  font-weight: bold
  margin: 0
  padding: calc-rem(10px) calc-rem(24px)
  transition: .2s
  +breakpoint($large)
    font-size: calc-rem(15px)

  &:hover
    transition: .2s

  @if $button-style == 'primary'
    background-color: $main-color
    border-color: $main-color
    color: $white

    &:hover
      background-color: $secondary-color
      border-color: $secondary-color
      color: $white

  @else if $button-style == 'secondary'
    background-color: transparent
    border-color: $main-color
    color: $main-color

    &:hover
      background-color: $main-color
      border-color: $main-color
      color: $white

/// Card.
=card
  background-color: $white
  border-radius: 5px
  padding: 1rem 2rem

=clean-list
  list-style-image: none
  list-style-type: none
  margin: 0
  padding: 0

/// Mixins for clear.
=clearfix
  &:after
    clear: both
    content: ''
    display: table

/// Container.
=container($max-width: $container-width)
  margin: 0 auto
  max-width: $max-width

/// Flex gallery
/// @param {number} $items - Numbers of items for row to show.
/// Usage guide:
/// - First add next properties to wrapper: display: flex, flex-flow: row wrap
/// - Then, apply the mixin to each item.

=flex-gallery($items)
  width: (100% - (2% * ($items - 1))) / $items
  @if $items == 1
    margin-bottom: 1rem
  @else
    margin-bottom: 2%

  &:nth-child(#{$items}n)
    margin-right: 0

  &:not(:nth-child(#{$items}n))
    margin-right: 2%

/// Full content
=full-content($max-width: $container-width)
  left: 50%
  margin-left: -50vw
  margin-right: -50vw
  padding: 0 $container-padding
  position: relative
  right: 50%
  width: 100vw

  > *
    +container($max-width)

/// Gradient.
=gradient($direction: to top, $color-from: transparent, $color-to: transparent)
  background: linear-gradient(#{$direction}, #{$color-from}, #{$color-to})

/// Identify an element on the screen
/// @access public
/// @param {Color} $color - Border color
=here($color: $red)
  border: 2px solid $color

/// Icomoon.
=icomoon($image, $font-size, $color, $bg-size: $font-size, $bg-color: transparent, $br-radius: 0, $pseudo: before)
  @extend .hide-accessible
  background-color: $bg-color
  border-radius: $br-radius
  display: block
  height: calc-rem($bg-size)
  position: relative
  width: calc-rem($bg-size)

  &:#{$pseudo}
    color: $color
    content: $image
    font-family: $icomoon-font
    font-size: calc-rem($font-size)
    left: 50%
    line-height: 1
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

/// Icomoon text.
=icomoon-text($image, $font-size, $color, $position: left, $align: center, $bg-size: $font-size, $bg-color: transparent, $br-radius: 0, $pseudo: before)
  padding-#{$position}: calc-rem($bg-size / 1px * 1.25px)
  position: relative

  &:#{$pseudo}
    align-items: center
    background-color: $bg-color
    border-radius: $br-radius
    color: $color
    content: $image
    display: flex
    font-family: $icomoon-font
    font-size: calc-rem($font-size)
    height: calc-rem($bg-size)
    justify-content: center
    line-height: 1
    position: absolute
    width: calc-rem($bg-size)

    @if $position == 'top'
      top: 0
      @if $align == 'start'
        left: 0
      @else if $align == 'center'
        left: 50%
        transform: translateX(-50%)
      @else if $align == 'end'
        right: 0

    @else if $position == 'right'
      right: 0
      @if $align == 'start'
        top: 0
      @else if $align == 'center'
        top: 50%
        transform: translateY(-50%)
      @else if $align == 'end'
        bottom: 0

    @else if $position == 'bottom'
      bottom: 0
      @if $align == 'start'
        left: 0
      @else if $align == 'center'
        left: 50%
        transform: translateX(-50%)
      @else if $align == 'end'
        right: 0

    @else if $position == 'left'
      left: 0
      @if $align == 'start'
        top: 0
      @else if $align == 'center'
        top: 50%
        transform: translateY(-50%)
      @else if $align == 'end'
        bottom: 0

// Image cover.
=image-cover
  overflow: hidden
  position: relative

  img
    height: auto
    left: 50%
    max-width: none
    min-height: 100%
    min-width: 100%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: auto

/// Style list - arrows.
=list-style($list-style)

  @if $list-style == 'arrows'
    li
      +icomoon-text($ico-chevron-right, 12px, $light-grey, right, start, 44px)
      border-bottom: 1px solid $border
      margin: calc-rem(4px) 0
      padding-bottom: calc-rem(12px)
      padding-top: calc-rem(12px)

  @else if $list-style == 'squares'
    li
      +icomoon-text($ico-squares, 15px, $main-color, left, start, 24px)
      margin: calc-rem(20px) 0
